[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
pygithub = "*"
matplotlib = "*"
alembic = "*"
pypdf2 = "*"
pyyaml = "*"
loguru = "*"

[requires]
python_version = "3.8"
